<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__info__flex-wrapper">
        <img src="img/footerlogo.svg" alt="logo" />
        <div class="footer__links">
          <div class="footer__links__flex-wrapper">
            <div class="footer__links__list--first">
              <p>Telegram чат</p>
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Инструкция</a></li>
                <li><a href="#">Цена</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="footer__links__list--second">
              <p>Поддержка</p>
              <ul>
                <li><a href="#">Центр поддержки</a></li>
                <li><a href="#">Политика конфеденциальности</a></li>
                <li><a href="#">Документы оферта</a></li>
                <li><a href="#">Статус</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights"><p>© 2021 Tocha. Все права защищены</p></div>
  </div>
</footer>
