<header class="header">
  <div class="container">
    <div class="header__flex-wrapper">
      <img src="img/logo.svg" alt="logo" class="header__logo"/>
      <button class="header__burger">
        <span></span>
      </button>
      <div class="header__mobile-menu">
        <div class="header__authorization">
          <button class="button button--auth button--signin">Вход</button>
          <button class="button button--auth">Регистрация</button>
        </div>
      </div>
    </div>
  </div>
</header>
