<section class="info">
  <div class="container">
    <div class="info__inner">
      <div class="info__list">
        <h2>Tocha Online — это</h2>
        <div class="info__card">
          <img class="info__card__img" src="img/infoicon1.svg" alt="icon1" />
          <div class="info__card__description">
            <h3>Ничего лишнего</h3>
            <p>
              Отсутствие лишних приложений для операторов. <br />
              Оператору не нужно учиться работать с чатом
            </p>
          </div>
        </div>
        <div class="info__card">
          <img
            class="info__card__img"
            src="img/infoicon2.svg"
            alt="infoicon2"
          />
          <div class="info__card__description">
            <h3>Простота</h3>
            <p>Простая установка на сайт</p>
          </div>
        </div>

        <div class="info__card">
          <img class="info__card__img" src="img/infoicon3.svg" alt="icon3" />
          <div class="info__card__description">
            <h3>Несколько ассистентов</h3>
            <p>Возможность подключения нескольких ассистентов</p>
          </div>
        </div>

        <div class="info__card">
          <img class="info__card__img" src="img/infoicon4.svg" alt="icon4" />
          <div class="info__card__description">
            <h3>Кастомизация</h3>
            <p>Настройка интерфейса под нужды сайта</p>
          </div>
        </div>
      </div>
      <img class="info__phone" src="img/infophone.svg" alt="infopic" />
    </div>
  </div>
</section>
