<section class="intro">
  <div class="container">
    <div class="intro__flex-wrapper">
      <div class="intro__inner-wrapper">
        <h1 class="intro__title">
          <strong>Telegram чат</strong> на вашем сайте
        </h1>
        <p class="intro__description">
          Общение с клиентами станет простым <br />
          и удобным, а подключение займет 5 минут. Первый месяц —
          <strong>бесплатно!</strong>
        </p>
        <button class="button button--intro">Подключить</button>
      </div>

      <img class="intro__img" src="img/introphone.svg" alt="phone" />
    </div>
  </div>
</section>
