<section class="plans">
  <div class="container container--plans">
    <h2>Тарифы</h2>
    <p>Стоимость зависит от трафика сайта</p>
    <div class="plans__list owl-carousel owl-theme">
      <div class="plans__card">
        <h3 class="plans__title">Бесплатно</h3>
        <div class="plans__card-info">
          <h4 class="plans__subtitle">
            Пробный период <br />
            на 1 месяц
          </h4>
          <p>0₽/первый месяц</p>
          <button class="button button--plans">Подключить за 0₽</button>
        </div>
      </div>
      <div class="plans__card plans__card--hide hide">
        <h3 class="plans__title">Базовый</h3>
        <div class="plans__card-info">
          <h4 class="plans__subtitle">
            Менее 1000 <br />
            посещений в сутки
          </h4>
          <p>200₽/месяц</p>
          <button class="button button--plans">Подключить за 200₽</button>
        </div>
      </div>
      <div class="plans__card plans__card--hide">
        <h3 class="plans__title">Премиум</h3>
        <div class="plans__card-info">
          <h4 class="plans__subtitle">
            Более 1000 <br />
            посещений в сутки
          </h4>

          <p>500₽/месяц</p>
          <button class="button button--plans">Подключить за 500₽</button>
        </div>
      </div>
    </div>
  </div>
</section>
