<section class="reviews">
  <div class="container reviews--container">
    <h2>Отзывы клиентов</h2>
    <img class="quotemarks" src="img/quotemarks.svg" alt="quotemarks" />
    <div class="reviews__flex-wrapper">
      <div class="reviews__flex--column">
        <div class="reviews__card">
          <div class="reviews__card__text">
            <h4>Как же удобно!</h4>
            <p>
              В рамках спецификации современных стандартов, базовые сценарии
              поведения пользователей, которые представляют собой яркий пример
              континентально-европейского типа политической культуры, будут
              преданы социально-демократической анафеме.
            </p>
          </div>
        </div>
        <div class="reviews__card__author">
          <div class="reviews__card__author--flex">
            <img src="img/human1.svg" alt="human1" />
            <div class="reviews__card__author__text">
              <h5>Анна Купер</h5>
              <p>romashka.ru</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__flex--column">
        <div class="reviews__card">
          <div class="reviews__card__text">
            <h4>Теперь мы идем в ногу со временем</h4>
            <p>
              А ещё интерактивные прототипы превращены в посмешище, хотя само их
              существование приносит несомненную пользу обществу. Банальные, но
              неопровержимые выводы, а также тщательные исследования конкурентов
              формируют сеть.
            </p>
          </div>
        </div>
        <div class="reviews__card__author">
          <div class="reviews__card__author--flex">
            <img src="img/human2.svg" alt="human1" />
            <div class="reviews__card__author__text">
              <h5>Андрей Васильев</h5>
              <p>samogon-ont.ru</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
