<section class="subscribe">
  <div class="container">
    <div class="subscribe__info">
      <img class="subphone" src="img/subphone.svg" alt="sub" />
      <div class="subscribe__form">
        <p>
          Подключите Telegram чат<br />
          уже сегодня
        </p>
        <form action="#">
          <input
            type="email"
            name="emailaddress"
            placeholder="Введите e-mail"
          />
          <button class="button button--email">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
