.header
  padding-top: 32px
  &__flex-wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    z-index: 1100
  &__mobile-menu
    +r(767)
      position: absolute
      background: #F8FBFF
      width: 100%
      height: 100%
      z-index: 1000
      left: 0
      top: 0
      right: 0
      bottom: 0
      transform: translateY(-100vh)
      transition: all .5s ease
      padding: 120px 15px
      &--active
        transform: translateY(0)
  &__authorization
    +r(767)
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      gap: 11px
  &__burger
    outline: 0
    border: 0
    background: transparent
    position: relative
    width: 30px
    height: 18px
    display: none
    z-index: 1100
    +r(767)
      display: block
    span
      position: absolute
      left: 0
      top: calc( 50% - 1px )
      width: 30px
      height: 2px
      background: #33AFE1
      border-radius: 2px
      transition: .2s ease
      &::before, &::after
        content: ''
        position: absolute
        width: 30px
        height: 2px
        border-radius: 2px
        left: 0
        transition: .4s ease
      &::before
        background: $mainViolet
        top: -8px 
      &::after
        background: #18E1f7
        top: 8px
    &--active
      width: 28px
      height: 28px
      span
        background: transparent  
        &::before, &::after
          top: 0
          background: $mainViolet
        &::before
          transform: rotate(45deg)
          transform: right bottom
        &::after
          transform: rotate(-45deg)