.intro
  padding-top: 91px
  padding-bottom: 285px
  min-height: 583px
  &__title
    font-weight: 800
    font-size: 50px
    line-height: 120%
    margin-bottom: 24px
    strong
      display: block
  &__wrapper
    background-image: url('../img/bg.png')
  &__flex-wrapper
    display: flex
    justify-content: space-between
    position: relative
  &__img
    display: block
    position: absolute
    max-width: 725px
    width: 100%
    right: 0
    top: -32px
  &__inner-wrapper
    max-width: 482px
    strong
      color: $mainViolet
    p
      margin-bottom: 32px 
  