.plans
  padding: 100px 0 
  text-align: center
  color: $textBlack
  +r(767)
    padding: 54px 0
  h2
    font-weight: 800
    font-size: 46px
    line-height: 139%
    +r(1109)
      font-size: 32px
      line-height: 125%
      margin-bottom: 8px
  p
    font-weight: bold
    font-size: 24px
    line-height: 133%
    +r(1109)
      font-size: 20px
      line-height: 140%
  &__list
    display: flex
    justify-content: space-between
    margin-top: 40px
  &__card
    width: 350px
    background: #FCFEFF
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07)
    border-radius: 6px
    +r(1109)
      margin-right: 20px
      max-width: 330px
    +r(767)
      margin-right: 0
    &--hide
      +r(767)
        display: none
    &.hide
      +r(1109)
        display: none
  &__title
    color: $mainViolet
    font-weight: 800
    font-size: 24px
    line-height: 200%
    background: rgba(104, 94, 214, 0.05);
    padding: 7px 0 6px 0
  &__subtitle
    display: block
    font-weight: bold
    font-size: 28px
    line-height: 143%
    margin-bottom: 32px
  &__card-info
    padding: 40px 29px 62px 29px
    p
      font-weight: 500
      font-size: 20px
      line-height: 150%
      margin-bottom: 46px